<div class="container">
  <div class="jumbotron">
    <h1>Get Change</h1>
    <p>See what change you'll get!</p>
  </div>
</div>

<form action="/change" >
 <div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="form-group">
          <div class="wrapper" style="text-align: center;">
            <label class="question" for="register">What would you like to make change for?</label>
          </div>
          <input type="text" id="change" name="change" class="form-control">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="form-group register_input">
            <div class="wrapper" style="text-align: center;">
              <label class="question" for="register">What change does the register have? (0 is infinite)</label>
            </div>
            <div class="wrapper" style="text-align: center;">
              <label for="register">Quarters</label>
              <input type="text" id="register_quarters" name="register_quarters" class="form-control" value="0">
            </div>
            <div class="wrapper" style="text-align: center;">
              <label for="register">Dimes</label>
              <input type="text" id="register_dimes" name="register_dimes" class="form-control" value="0">
            </div>
            <div class="wrapper" style="text-align: center;">
              <label for="register">Nickles</label>
              <input type="text" id="register_nickles" name="register_nickles" class="form-control" value="0">
            </div>
          </div>
          <div class="wrapper" style="text-align: center;">
            <button type="submit" name="send" id="send">send</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
