<div class="container">
  <div class="jumbotron">
    <h1>Get Change</h1>
    <p>See what change you'll get!</p>
  </div>
</div>

<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <form action="/change" >
      <div class="form-group">
        <label for="change">What would you like to make change for?</label>
        <input type="text" id="change" name="change" class="form-control">
      </div>
      <div class="wrapper" style="text-align: center;">
        <button type="submit" name="button" id="send">Get Change</button>
      </div>
    </form>
  </div>
</div>
