@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
  font-family: 'Raleway'
}

.h1_font {
  font-family: 'Raleway'
}

.change_header {
  font-family: 'Oswald'
}
